.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  height:60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.switch-container{margin: 12px 0;}
.switch-container a{color: #888;padding: 8px; border: 1px solid #f5f5f5; border-radius: 2px;}



